<h1>Markov Chain - Tweet Generator</h1>

Twitter Username (beginning with '@')
<br>

<%= form_tag({:controller=>"chain", :action=>"handle_submit"}, method: :post, remote: true) do %>
  <%= text_field_tag :username %>
  <%= submit_tag 'Generate Tweet', name: nil %>
<% end %>

<h2 class="markov"><%= @markov_tweet %></h2>
